* {
	font-family: 'Offside', cursive;
}

body {
	background-color: #333;
}

button {
	margin: 15px 2px 5px 2px;
	padding: 2px 10px;
	color: white;
	background-color: #3300CC;
	border-radius: 20px;
}

#start_screen, #timeOut, #complete {
	background-color: rgba(255,255,255, 0.8);
	border-radius: 20px;
	text-align: center;
	padding: 50px;
	padding: 50px;
}

#sidebar #scoreNumber {
	font-size: 35px;
	text-align: center;
}

#sidebar #gameTime {
	font-size: 40px;
	text-align: center;
}

#sidebar #colorPreview {
	background-color: #eee;
	border-radius: 5px;
}

#sidebar #triesNumber {
	font-size: 25px;
}

#sidebar {
	background-image: url('../img/NeverSquareSidebarl.png');
	background-repeat: no-repeat;
	font-size: 25px;
	color: #fff;
}

#canvas_container {
	background-image: url('../img/NeverSquareFullGamebackground2.png');
	background-repeat: no-repeat;
}