* {
	font-family: 'Offside', cursive;
}

body {
	background-color: #333;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#start_screen, #timeOut, #complete, #tutorial {
	background-color: rgba(255,255,255, 0.8);
	border-radius: 20px;
	text-align: center;
	padding: 50px;
	padding: 50px;
}

#highscore{
	background-image: url('../img/highscore.png');
	background-size: 300px auto;
	background-repeat: no-repeat;
	text-align: center;
	color:#ffa500;
	padding:50px;
	padding:50px;
	width:300px;
	height:600px;
}

#sidebar #scoreNumber {
	font-size: 35px;
	text-align: center;
}

#sidebar #playerName{
	font-size: 15px;
	text-align: center;
}

#sidebar #gameTime {
	font-size: 40px;
	text-align: center;
}

#sidebar #colorPreview {
	background-color: #eee;
	border-radius: 5px;
}

#sidebar #triesNumber {
	font-size: 25px;
}

#sidebar {
	background-image: url('../img/NeverSquareSidebarl.png');
	background-repeat: no-repeat;
	font-size: 25px;
	color: #fff;
}

#canvas_container {
	background-image: url('../img/NeverSquareFullGamebackground2.png');
	background-repeat: no-repeat;
}

/* ----------------------- sidebar ------------------------ */
#sidebar #startTutorial{
	background-image: url('../img/buttons/noob_guide.png');
	background-repeat: no-repeat;
	width:89px;
	height:48px;
}

#sidebar #startTutorial:hover{
	background-image: url('../img/buttons/tutorial_hover.png');
}

#sidebar #showHighscore{
	background-image: url('../img/buttons/highscore.png');
	background-repeat: no-repeat;
	width:89px;
	height:48px;
}

#sidebar #showHighscore:hover{
	background-image: url('../img/buttons/highscore_hover.png');
}

/* ----------------------- buttons ------------------------ */
#restart{
	background-image: url('../img/buttons/retry.png');
	background-repeat: no-repeat;
	width:89px;
	height:48px;
}

#restart:hover {
	background-image: url('../img/buttons/retry_hover.png');
}

#nextLevel{
	background-image: url('../img/buttons/next_level.png');
	background-repeat: no-repeat;
	width:89px;
	height:48px;
}

#nextLevel:hover {
	background-image: url('../img/buttons/next_level_hover.png');
}

#start,
.button_play {
	background-image: url('../img/buttons/play.png');
	background-repeat: no-repeat;
	width:89px;
	height:48px;
}

#start:hover,
.button_play:hover {
	background-image: url('../img/buttons/play_hover.png');
}

#highscore .button_play {
	position: absolute;
	right: 27px;
	bottom: 119px;
}