* {
	font-family: 'Offside', cursive;
}

body {
	background-color: #333;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}


#start_screen, #timeOut, #complete, #tutorial {
	background-color: rgba(255,255,255, 0.8);
	border-radius: 20px;
	text-align: center;
	padding: 50px;
	padding: 50px;
}

#sidebar #scoreNumber {
	font-size: 35px;
	text-align: center;
}

#sidebar #gameTime {
	font-size: 40px;
	text-align: center;
}

#sidebar #colorPreview {
	background-color: #eee;
	border-radius: 5px;
}

#sidebar #triesNumber {
	font-size: 25px;
}

#sidebar {
	background-image: url('../img/NeverSquareSidebarl.png');
	background-repeat: no-repeat;
	font-size: 25px;
	color: #fff;
}

#canvas_container {
	background-image: url('../img/NeverSquareFullGamebackground2.png');
	background-repeat: no-repeat;
}

#restart{
	background-image: url('../img/retry.png');
	background-repeat: no-repeat;
	width:89px;
	height:48px;
}

#nextLevel{
	background-image: url('../img/Nextlevel.png');
	background-repeat: no-repeat;
	width:89px;
	height:48px;
}

#start{
	background-image: url('../img/play.png');
	background-repeat: no-repeat;
	width:89px;
	height:48px;
}