* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

svg {
	top: 7px;
	left: 7px;
}

#wrap {
	margin: 0 auto;
	width: 1200px;
}

#canvas_container {
	width: 800px;
	height: 600px;
	border: 1px black solid;
	float: left;
	margin-right: 9px;
	position: relative;
	top: 3px;
	left: 3px;
}

#start_screen {
	margin: 50px auto;
	width: 800px;
}

#start_screen #playerName {
	font-size: 23px;
	position: relative;
	top: -11px;
}

.player {
	position:absolute;
	right:190px;
}

.score {
	position:absolute;
	right:80px;
}

/* ----------------------- layer ------------------------ */
#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

#timeOut,
#complete{
	width: 300px;
	height: 300px;
	margin: 50px auto;
}

#tutorial {
	width: 400px;
	height: 425px;
	margin: 50px auto;
}

#highscore {
	position: relative;
	width: 400px;
	height: 425px;
	margin: 50px auto;
}

/* ----------------------- sidebar ------------------------ */
#sidebar {
	width: 350px;
	height: 600px;
	float: left;
	padding-left: 10px;
	position: relative;
}

#sidebar #gameTime {
	position: absolute;
	left: 103px;
	bottom: 30px;
}

#sidebar #levelNumber {
	position: absolute;
	top: 245px;
	right: 40px;
	width: 75px;
	text-align: center;
}

#sidebar #scoreNumber {
	position: absolute;
	left: 95px;
	bottom: 126px;
	width: 175px;
}

#sidebar #playerName {
	position: absolute;
	left: 200px;
	top: 60px;
	width:125px;
	overflow: hidden;
}

#sidebar #triesNumber {
	position: absolute;
	left: 177px;
	top: 346px;
}

#sidebar #colorPreview {
	position: absolute;
	width: 132px;
	height: 59px;
	left: 185px;
	top: 154px;
}

#sidebar #colorPreview #currentColor {
	position: absolute;
	left: 0;
	top: 0;
	width: 110px;
	height: 59px;
}

#sidebar #colorPreview #nextColor {
	position: absolute;
	right: 0;
	top: 0;
	width: 21px;
	height: 59px;
}

#sidebar #startTutorial {
	position: absolute;
	left: 260px;
	top: 90px;

}

#sidebar #showHighscore{
	position: absolute;
	left: 173px;
	top:90px;
}

/* ----------------------- p1 to p10 ------------------------ */
#p1, #s1{
	top:105px;
}

#p2, #s2{
	top:135px;
}

#p3, #s3{
	top:175px;
}

#p4, #s4{
	top:205px;
}

#p5, #s5{
	top:235px;
}

#p6, #s6{
	top:310px;
}
#p7, #s7{
	top:340px;
}
#p8, #s8{
	top:368px;
}
#p9, #s9{
	top:398px;
}
#p10, #s10{
	top:430px;
}